* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    width: 98%;
    background-color: black;
    margin:auto;
    height: 200px;
    left: 0;
    right:0;

}

.header_top {
    background-color: red;
    height: 80%;
    position: relative;
}

img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height:100%;
}

.Titolo_wp{
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header_bottom {
    background-color: blue;
    height: 20%;
}

main{
    background-color: white;
    margin: auto;
    height: 200px;
    width: 98%;
    border: 2px solid black;
}
